body{background-color: rgb(230, 234, 235); }

a{text-decoration: none !important;}

#logo{color:rgb(243, 97, 53);font-family: fantasy;}
.touil{color:rgb(129, 166, 236)}
.dropdown{color:red;}


   


.btn_search{color:white;
background-color: rgb(250, 145, 48);
border-radius: 5px;
border-style: none;
width: 40%;}

.mySlides {display:none;}
.section_logo{background-color:rgb(250, 252, 223);}
.section{padding-left: 20px;padding-right: 20px;}